<div class="col s5">
				<div class="card #689f37 blue">
					<div class="cart-content white-text">
						<span class="card-title">&nbsp;customer: <%= current_user.username %></span>
						<p>&nbsp;&nbsp;My Account<br />
							&nbsp;&nbsp;Start a New Order <br/ >
							&nbsp;&nbsp;View Orders <br />
							&nbsp;&nbsp;Not <%= current_user.username %>? Log out</a></p>
					</div>
				</div>
			</div>