<h3>Welcome To A &amp; M Bread Express</h3>
<br />
<div class="row">
	<%= image_tag 'banner.jpg' %><br /><br />
	<div class="small-7 columns">
		<p>
			Bread Express is a small online bakery that only produces the best. We provide a large variety of baked goods from applie pie that reminds you of you're grandmother's pies to innovative new recipes. Despite our range of products, Bread Express only provides 
			delicious, nutritious and amazing goods everyday.
		</p>
	</div>
	<div class="small-1 columns">
		&nbsp;
	</div>
	<div class="small-4 columns">
		<div class="panel clearfix">
			<h4>Customers:</h4>
			<p>
				If you are a registered user, 
			  <%= link_to "click here to login", login_path %>. If you want 
			  to create an account with us, <%= link_to "please click to register", signup_path %>.
			</p>
		</div>
	</div>
</div>


