<% if @shipping_list.nil? || @shipping_list.empty? %>
				<p><i class="small mdi-action-done"></i> All orders shipped</p>
			<% else %>
				<table class="hoverable">
					<thead>
						<tr>
							<th>Recipient</th>
							<th>Items</th>
						</tr>
					</thead>
					<% @shipping_list.each do |order| %>
						<tr>
							<td><%= order.address.recipient %></td>
							<% order.each do |item| %>
								<td><%= item.name %> x <%= item.quantity %>
							<% end %>
						</tr>
					<% end %>
				</table>
			<% end %>