<div class="col s5">
	<div class="card #689f37 blue">
		<div class="cart-content white-text">
			<span class="card-title">&nbsp;<%= current_user.role %>: <%= current_user.username %></span>
			<p>&nbsp;&nbsp;My Account<br />
				&nbsp;&nbsp;View Shipping List<br />
				&nbsp;&nbsp;Not <%= current_user.username %>? Log out</p>
		</div>
	</div>
</div>