<div class="container">
  <div class="row">
    <div class="col s5">
      <h3>About A &amp; M Bread Express</h3>

      <p>
      	Alex and Mark are the proud founders of the A &amp; M Bread Express Company, an online bakery that delivers fresh baked goods just like their mom used to (and still does) make. Bread Express prides in it's top notch baked goods that remind you of home but of some fancy French pastry shop too. 
      </p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    </div>
    <div class="col s7">
      <br /><br />
      <%= image_tag 'baker.jpg' %>
    </div>
  </div>
</div>