<div class="row">
	<div class="col s7">
		<h3>Contact Bread Express</h3>
		<p class="supertiny">&nbsp;</p>
		<table cellpadding="3">
			<tr>
				<td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
				<td>Amy Li</td>
			</tr>
			<tr>
				<td>Email:</td>
				<td>
				<%= mail_to("amyli@cmu.edu", "amyli@cmu.edu", :encode => "javascript") %> 
				</td>
			</tr>
			<tr>
				<td>Phone:</td>
				<td>412-268-2323</td>
			</tr>
		</table>

		<p class="note"><br>If you have any questions or concerns, feel free to contact A&amp;M Bread Express! Even if you just want to pop in and say hello, send us an email! We love building strong relationships with our customers.</p>
			
			<p>&nbsp;</p>
			<p>&nbsp;</p>
	</div>

	<div class="col s5"><br /><br />
    <%= image_tag 'happy.jpg' %>
  </div>
</div>