<div class="container">
	<div class="row">
		<div class="col s12 left">
			<h3>A &amp; M Bread Express Privacy Policy</h3>

			<p>The Bread Express privacy policy is very simple and easy for anyone to understand. It's so private that we can't even tell you. Shh!
			</p>

			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
		</div>
	</div>
</div>