<% if logged_in? %>
  <% opt = "#{object.respond_to?(:name) ? object.name : model_name.capitalize }" %>

  <div class="form-actions">
    <%= link_to(eval("#{model_name.pluralize}_path"), class: 'btn waves-effect waves-light green') do %>
      <!-- <i class="fa fa-list"></i> -->
      &nbsp;Display All <%= model_name.pluralize.capitalize %>
    <% end %>
    &nbsp;&nbsp;
    
  </div>
<% end %>
