<div class="row">
  <div class="small-8 columns">
    <%= render :partial => "item_details" %>
  </div>

</div>
<%= render partial: "partials/object_options", locals: {model_name: "item", object: @item} %>